
  
  .toc-container h3 {
    margin-top: 0;
    font-size: 1.2rem;
  }
  
  .toc-container ul {
    list-style: none;
    padding: 0;
  }
  
  .toc-container li {
    margin-bottom: 10px;
  }
  
  .toc-container a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
  }
  
  .toc-container a.active {
    font-weight: bold;
    color: #0070f3; /* Highlight color */
  }
  
  .toc-container a:hover {
    color: #0070f3;
  }
  